<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo icon -->
                    <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span>
                 <!-- dark Logo text -->
                 <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo">
                 <!-- Light Logo text -->    
                 <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage"></span> </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                        @if (notifications().length > 0) {
                            <div class="notify">
                                <span class="heartbit"></span> 
                                <span class="point"></span> 
                            </div>
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated fadeIn fast">
                        <ul>
                            <li>
                                <div class="drop-title">Notifications</div>
                            </li>
                            <li>
                                <div class="message-center ps ps--theme_default" data-ps-id="dfa36dd9-a84d-ad73-391e-656f474e95bf">
                                    <!-- Message -->
                                    @for (notification of notifications(); track $index) {
                                        <a (click)="openModal(notification.id_task, notification.id)">
                                            <div class="btn btn-info btn-circle">
                                                <i class="fa fa-tasks"></i>
                                            </div>
                                            <div class="mail-contnet ml-2">
                                                <h5>{{ notification.id_task.project_id.name }}</h5> 
                                                <span class="mail-desc">
                                                    Assigned Task:  <b>{{ notification.id_task.project_id.code }} - {{ notification.id_task.id }}</b>
                                                </span> 
                                                <span class="mail-desc"><b>{{ notification.id_task.title }}</b></span>
                                                <span class="time">Hace {{ notification.create_at | timeAgo }}</span> 
                                            </div>
                                        </a>
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./assets/images/users/1.jpg" alt="user" class="profile-pic"></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <!-- <div class="u-img"><img src="./assets/images/users/1.jpg" alt="user"></div> -->
                                    <div class="u-text">
                                        <h4>{{ user().fullname }}</h4>
                                        <p class="text-muted">{{ user().email }}</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="logout()" class="cursor"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>