<div class="row">
    <div class="col-md-12">
        <h4>Inicio</h4>
        <!-- <a href="https://github.com/SortableJS/Sortable" target="_blank">https://github.com/SortableJS/Sortable</a> -->
        <br><br><br>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="items-card">
                            <div class="card card-inverse card-warning">
                                <div class="card-body">
                                    1
                                </div>
                            </div>
                            <div class="card card-inverse card-success">
                                <div class="card-body">
                                    2
                                </div>
                            </div>
                            <div class="card card-inverse card-primary">
                                <div class="card-body text-white">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="items-card">
                            <div class="card card-inverse card-warning">
                                <div class="card-body">
                                    1
                                </div>
                            </div>
                            <div class="card card-inverse card-success">
                                <div class="card-body">
                                    2
                                </div>
                            </div>
                            <div class="card card-inverse card-primary">
                                <div class="card-body text-white">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>

        <!-- <ul id="items">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul> -->

    </div>
</div>
