.task-shadow{

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px !important;

}

.text-color-task{

    color: black;

}

.text-color-task:hover {
    text-decoration: underline;
}